  <form name="input" action="<%=planet_path(@id) %>" method="post" >
Planet Name:      <input type="text" name="planet[name]" autofocus required value="<%=@planet.name%>"><br/>
Planet image:      <input type="text" name="planet[image]" value="<%=@planet.image%>"><br/>
Planet orbit:         <input type="text" name="planet[orbit]" value="<%=@planet.orbit%>"><br/>
Planet diameter:  <input type="text" name="planet[diameter]" value="<%=@planet.diameter%>"><br/>
Planet mass:        <input type="text" name="planet[mass]" value="<%=@planet.mass%>"><br/>
Planet moon:        <input type="text" name="planet[moons]" value="<%=@planet.moons%>"><br/>
<input type="submit" value="Edit">
</form>